absl-py==0.10.0
astor==0.8.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
CouchDB==1.2
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Uploads==0.2.1
gast==0.2.2
grpcio==1.32.0
h5py==2.10.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
Markdown==3.2.2
MarkupSafe==1.1.1
numpy==1.16.0
protobuf==3.13.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pytz==2018.5
requests==2.24.0
rsa==4.6
selenium==3.141.0
six==1.15.0
tensorboard==1.15.0
tensorflow==2.5.1
termcolor==1.1.0
urllib3==1.25.10
virtualenv==20.0.31
Werkzeug==1.0.1
opencv-python==4.0.0.21
matplotlib==3.3.2
pydicom==2.0.0
pypng==0.0.20
